form.insane-sheet
    {
    background-color: white;
    padding: 10px;
    margin: -10px;
    }

form.insane-sheet div.inspiration
    {
    display: inline-block;
    flex: none;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px 5px 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 6px #000, -1px -1px #fff inset,-1px -1px gray, 0 0 10px #000 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

form.insane-sheet div.inspiration div.inspiration-icon
    {
    width: 40px;
    height: 40px;
    background-image: url('./../img/xicht_uncolored.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto auto;
    }

form.insane-sheet div.inspiration>input
    {
    display: none;
    }

form.insane-sheet div.inspiration>input + label>div
    {
    opacity: 0.3;
    }

form.insane-sheet div.inspiration>input:checked + label>div
    {
    opacity: 1.0;
    }
/*
form.insane-sheet div.inspiration>input:checked + label>i
    {
    color: rgb(154, 154, 255);
    animation: breathe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }*/

form.insane-sheet div.inspiration>input:checked + label>div
    {
    background-image: url('./../img/xicht_colored.svg');
    animation: breathe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }

@keyframes breathe
    {
    0%  {transform: scale(1) rotateZ(0deg);}
    50% {transform: scale(1.2) rotateZ(15deg);}
    100%{transform: scale(1) rotateZ(0deg);}
    }
