.insane.dnd5e.sheet a:hover
    {
    text-shadow: none;
    }

.insane.sheet.actor .inventory-list .item .item-name
    {
    max-height: unset;
    cursor: default;
    flex-wrap: nowrap;
    }

.insane.sheet.actor .inventory-list .item-quantity>.item-count
    {
    width: 23px;
    }

.insane.sheet.actor .inventory-list .item-quantity:hover,
.insane.sheet.actor .inventory-list .item-quantity.isStack
    {
    opacity: 1;
    }

.insane.sheet.actor .inventory-list .item-quantity>.item-count
    {
    text-align: center;
    }

.insane.sheet.actor .inventory-list .item-quantity
    {
    text-align: right;
    margin-right: 5px;
    opacity: 0;
    transition: opacity .3s ease;
    height: 20px;
    }

.insane.sheet.actor .inventory-list .item:hover
    {
    background: rgb(255, 201, 166);
    }

.insane.sheet.actor .inventory-list .item-image,
.insane.sheet.actor .inventory-list .item-name h4
    {
    cursor: pointer;
    }

.insane.sheet.actor .inventory-list .item-name:hover h4
    {
    font-weight: bold;
    }

.insane.sheet.actor .inventory-list .item-name:hover
    {
    text-shadow: none;
    }

.insane.sheet.actor .inventory-list .item-name
    {
    flex-grow: 2;
    }

/* item-edit sheet fix detail spacing (for longer item type names */
.app.insane.dnd5e.sheet.item .header-details .summary li:first-child
    {
    flex: 2
    }
.app.insane.dnd5e.sheet.item .header-details .summary li:not(:first-child)
    {
    flex: 1
    }
.app.insane.dnd5e.sheet.item .header-details .summary
    {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    }

/* item-edit sheet min width */
.insane.dnd5e.sheet.item
    {
    min-width: 520px;
    }
